//META{"name":"wal-discord","description":"Generated based on pywal colors","author":"wal-discord","version":"1.0"}*//
/* 
 * @version 0.0.2
*/
.messages-3amgkR {
  background-color: #191e26 !important;
}

.panels-j1Uci_,
.scrollableContainer-2NUZem,
.scroller-2TZvBN,
.searchBar-3dMhjb {
  background-color: #171b22 !important;
}

.theme-dark {
  --background-color: $bg !important;
  --background-primary: $bg !important;
  --background-secondary: $bg !important;
  --background-secondary-alt: $bgDarker !important;
  --background-tertiary: $bgDarker !important;
  --background-accent: $colorAccent !important;
  --background-floating: $bgDarker !important;
  --text-link: $colorHighlight !important;
  --focus-primary: $colorUrgent !important;
  --channeltextarea-background: $bg !important;
  --activity-card-background: $bg !important;
  --depreciated-store-bg: $bg !important;
  --deprecated-quickswitcher-input-background: $bgDarker !important;
  --deprecated-text-input-border-hover: $bgDarker !important;
  --deprecated-text-input-border-disabled: $bgDarker !important;
}

.container-16j22k {
  background-color: #171b22 !important;
}

.appMount-3lHmkl, body {
  background-color: #171b22 !important;
}

.theme-dark.authBox-hW6HRx {
  background: #191e26 !important;
}

.appMount-3lHmkl
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: #158fd4 !important;
}

.lookLink-9FtZy-.colorBrand-3pXr91 {
  color: #158fd4 !important;
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: #158fd4 !important;
}

.wrapper-2qzCYF.minimum-28Z35l {
  background-color: rgba(25, 30, 38, 0.8) !important;
}

.centerButton-3CaNcJ {
  background: rgba(25, 30, 38, 0.6);
}

.container-PNkimc {
  background-color: #171b22 !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: #158fd4 !important;
}

.item-2hkk8m {
  background-color: #158fd4 !important;
}

.foreground-2W-aJk {
  fill: #80bfed !important;
}

.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI {
  color: #80bfed !important;
}

.numberBadge-2s8kKX {
  background-color: #80bfed !important;
}

.nameDefaultText-24KCy5,
.nameDefaultVoice-3WUH7s,
.nameLockedText-3pqQcL,
.nameLockedVoice-26MhB1 {
  color: rgba(228, 255, 255, 0.5) !important;
}

.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.nameCollapsed-34uFWo,
.nameDefault-2DI02H {
  color: rgba(228, 255, 255, 0.7) !important;
}

.nameMutedText-3Vj4bM,
.nameMutedVoice-3oxyQZ {
  color: rgba(228, 255, 255, 0.2) !important;
}

.unread-1Dp-OI {
  background: #80bfed !important;
}

.contentSelectedText-3wUhMi {
  background: rgba(21, 143, 212, 0.2) !important;
}

.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedVoice-1WDIBM:active {
  background: rgba(21, 143, 212, 0.1) !important;
}

.container-1UB9sr {
  background-color: #171b22 !important;
  border-bottom: 1px solid rgba(101, 161, 224, 0.1) !important;
}

.container-2Thooq {
  background-color: #171b22 !important;
}

.container-2Thooq .horizontal-1ae9ci button {
  fill: #158fd4 !important;
}

.unread-1xRYoj {
  background-color: rgba(128, 191, 237, 0.75) !important;
}

.content, .content-yTz4x3 {
  background-color: #191e26 !important;
}

.inner-zqa7da {
  background-color: rgba(21, 143, 212, 0.1) !important;
}

.attachButtonPlus-rUdX-B {
  fill: #158fd4 !important;
}

.scroller-9moviB {
  background-color: #191e26 !important;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: #171b22 !important;
}

.theme-dark .root-1gCeng {
  background-color: #191e26 !important;
}

.theme-dark .footer-3rDWdC {
  background-color: #191e26 !important;
}

.lookOutlined-3sRXeN.colorBrand-3pXr91 {
  color: rgba(21, 143, 212, 0.8) !important;
  border-color: rgba(21, 143, 212, 0.2) !important;
}

.chat form,
.chat-3bRxxu form {
  background-color: #191e26 !important;
  box-shadow: 0 -1px 0 rgba(101, 161, 224, 0.1) !important;
}

.has-more button,
.hasMore-3e72_v button {
  background-color: #191e26 !important;
  border-color: transparent !important;
}

.jump-to-present-bar {
  background-color: rgba(101, 161, 224, 0.6) !important;
}

.inner-zqa7da {
  background-color: rgba(101, 161, 224, 0.1) !important;
}

.messages .divider > span,
.divider-3gKybi > span {
  background-color: #191e26 !important;
}

.messages .divider:not(.red) div,
.divider-3gKybi:not(.red) div {
  background: rgba(21, 143, 212, 0.3) !important;
}

.messages .divider:not(.red) span,
.divider-3gKybi:not(.red) span {
  color: rgba(21, 143, 212, 0.6) !important;
}

.messages .divider.divider-red > span,
.divider-3gKybi.divider-red > span {
  color: #80bfed !important;
}

.messages .divider.divider-red > div,
.divider-3gKybi.divider-red > div {
  background: #80bfed !important;
}

.isUnread-3Ef-o9 {
  border-color: #80bfed !important;
}

.unreadPill-2HyYtt {
  background-color: #80bfed !important;
}

.unreadPillCapStroke-7rkHbg {
  color: #80bfed !important;
  fill: #80bfed !important;
}

.wrapper-2aW0bm {
  background-color: rgba(25, 30, 38, 0.8) !important;
}

.new-messages-bar,
.newMessagesBar-mujexs {
  background-color: rgba(128, 191, 237, 0.9) !important;
}

.isUnread-3Ef-o9 .content-1o0f9g {
  color: #e4ffff !important;
  background-color: #80bfed !important;
}

.messages-wrapper,
.messagesWrapper-3lZDfY {
  background-color: #191e26 !important;
}

.message-group .markup, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup,
.message-group .markup-2BOw-j,
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup-2BOw-j {
  color: #e4ffff !important;
}

.message-group .markup code.inline,
.message-group .markup-2BOw-j code.inline {
  background-color: #182f40 !important;
}

.message-group .markup pre, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup pre,
.message-group .markup-2BOw-j pre,
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup-2BOw-j pre {
  border-color: #191e26 !important;
}

.message-group .markup pre code, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup pre code,
.message-group .markup-2BOw-j pre code,
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup-2BOw-j pre code {
  background-color: #192937 !important;
}

.message-group .embedInner-1-fpTo, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .embedInner-1-fpTo {
  background-color: #212b39 !important;
}

.message-group .mentioned .message-text {
  background-color: rgba(128, 191, 237, 0.1) !important;
}

.message-group .mentioned .message-text:after {
  background: transparent !important;
  border-left-color: #80bfed !important;
}

.wrapper-3WhCwL {
  color: rgba(128, 191, 237, 0.8) !important;
}

.mentioned-xhSam7 {
  background-color: rgba(128, 191, 237, 0.1) !important;
}

.mentioned-xhSam7:before {
  background-color: #80bfed !important;
}

.members-1998pB {
  background-color: #171b22 !important;
}

.sidebar-2K8pFh {
  background: #191e26 !important;
}

.selected-aXhQR6 .layout-2DM8Md {
  background-color: rgba(21, 143, 212, 0.2) !important;
}

.typing-2GQL18 {
  background-color: #191e26 !important;
}

.title-3qD0b- {
  background-color: #171b22 !important;
}

.title-3qD0b- .search-bar {
  background-color: rgba(21, 143, 212, 0.2) !important;
}

.container-1r6BKw.themed-ANHk51 {
  background: #191e26 !important;
}

.guilds-wrapper,
.guildsWrapper-5TJh6A,
.wrapper-1Rf91z {
  background-color: #171b22 !important;
}

.guilds-add,
.circleIconButton-jET_ig {
  border: 1px dashed rgba(21, 143, 212, 0.3) !important;
  background: inherit !important;
  color: rgba(21, 143, 212, 0.4) !important;
}

.guild .guild-inner,
.guild-1EfMGQ .guild-inner,
.container-2td-dC .wrapper-2lTRaf {
  background: inherit !important;
}

.guild.unread:before,
.guild-1EfMGQ.unread-qLkInr:before,
.wrapper-232cHJ {
  background: rgba(128, 191, 237, 0.65) !important;
}

.friends-online,
.friendsOnline-_wi_fM,
.friendsOnline-2JkivW {
  color: #65a1e0 !important;
}

.menu-Sp6bN1 {
  background: #191e26 !important;
}

.menu-Sp6bN1 .separator-2zcjq8 {
  background: rgba(21, 143, 212, 0.4) !important;
}

.messagesPopoutWrap-1MQ1bW {
  background-color: #171b22 !important;
}

.messagesPopoutWrap-1MQ1bW .header-ykumBX {
  background: #191e26 !important;
}

.messagesPopoutWrap-1MQ1bW .footer-1kmXd4 {
  background: #191e26 !important;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
  background-color: #191e26 !important;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_ {
  background-color: rgba(101, 161, 224, 0.6) !important;
}

.iconBadge-qZ4Ksk {
  background-color: #80bfed !important;
}

.spinner-wandering-cubes .spinner-item {
  background-color: #158fd4 !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  border-color: #191e26 !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: #183a52 !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: #191e26 !important;
}

.scrollbar-2rkZSL {
  background-color: #171b22 !important;
}

.scrollbar-2rkZSL .track-1JN30G {
  background-color: #171b22 !important;
}

.scrollbar-2rkZSL .pad-29zQak {
  background-color: #171b22 !important;
}

.scrollbar-2rkZSL .thumb-2JwNFC {
  background-color: rgba(21, 143, 212, 0.1) !important;
}

.channel.selected a,
.channel-2QD9_O.selected-1HYmZZ a {
  background: rgba(21, 143, 212, 0.2) !important;
}

.channel:hover a,
.channel-2QD9_O:hover a {
  background: rgba(21, 143, 212, 0.1) !important;
}

.theme-dark .modal-yWgWj- {
  background-color: #191e26 !important;
}

#friends,
.container-3gCOGc {
  background-color: #191e26 !important;
}

#friends .headerBar-UHpsPw,
.container-3gCOGc .headerBar-UHpsPw {
  background: #171b22 !important;
}

#friends .friends-table,
#friends .friendsTable-133bsv,
.container-3gCOGc .friends-table,
.container-3gCOGc .friendsTable-133bsv {
  background-color: #191e26 !important;
}

#friends .friends-table .friends-row:hover,
#friends .friends-table .friendsRow-2yicud:hover,
#friends .friendsTable-133bsv .friends-row:hover,
#friends .friendsTable-133bsv .friendsRow-2yicud:hover,
.container-3gCOGc .friends-table .friends-row:hover,
.container-3gCOGc .friends-table .friendsRow-2yicud:hover,
.container-3gCOGc .friendsTable-133bsv .friends-row:hover,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover {
  background-color: rgba(101, 161, 224, 0.1) !important;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action,
#friends .friends-table .friendsRow-2yicud .friends-column-actions .friends-action,
#friends .friendsTable-133bsv .friends-row .friends-column-actions .friends-action,
#friends .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action,
.container-3gCOGc .friends-table .friends-row .friends-column-actions .friends-action,
.container-3gCOGc .friends-table .friendsRow-2yicud .friends-column-actions .friends-action,
.container-3gCOGc .friendsTable-133bsv .friends-row .friends-column-actions .friends-action,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action {
  background-color: rgba(101, 161, 224, 0.1) !important;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action:hover,
#friends .friends-table .friendsRow-2yicud .friends-column-actions .friends-action:hover,
#friends .friendsTable-133bsv .friends-row .friends-column-actions .friends-action:hover,
#friends .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action:hover,
.container-3gCOGc .friends-table .friends-row .friends-column-actions .friends-action:hover,
.container-3gCOGc .friends-table .friendsRow-2yicud .friends-column-actions .friends-action:hover,
.container-3gCOGc .friendsTable-133bsv .friends-row .friends-column-actions .friends-action:hover,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action:hover {
  background-color: rgba(101, 161, 224, 0.2) !important;
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG {
  background: #191e26 !important;
}

.theme-dark .container-1D34oG {
  background-color: rgba(25, 30, 38, 0.8) !important;
}

.quickswitcher-3JagVE {
  background-color: #191e26 !important;
}

.quickswitcher-3JagVE .input-2VB9rf {
  background-color: rgba(21, 143, 212, 0.1) !important;
}

.quickswitcher-3JagVE .resultFocused-3aIoYe {
  background-color: rgba(21, 143, 212, 0.2) !important;
}

.quickswitcher-3JagVE .keybindShortcut-1BD6Z1 span {
  background-color: #80bfed !important;
  box-shadow: inset 0 -4px 0 rgba(21, 143, 212, 0.6) !important;
}

.searchPopout-1vUlP3 {
  background-color: #171b22 !important;
}

.searchPopout-1vUlP3 .option-96V44q.selected-rZcOL- {
  background-color: rgba(21, 143, 212, 0.1) !important;
}

.theme-dark .container-3ayLPN {
  background-color: #191e26 !important;
}

.theme-dark .focused-2bY0OD {
  background-color: #171b22 !important;
}

.theme-dark .dim-1l4L4y span {
  background-color: #191e26 !important;
}

.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: #171b22;
}

.theme-dark .option-96V44q:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), #191e26 80%);
}

.theme-dark .option-96V44q.selected-rZcOL-:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), #171b22 80%);
}

.theme-dark .elevationBorderHigh-2WYJ09 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.autocomplete-1vrmpx {
  background-color: #171b22 !important;
}

.autocomplete-1vrmpx .selectorSelected-1_M1WV {
  background-color: rgba(101, 161, 224, 0.1) !important;
}

.headerPlaying-j0WQBV,
.headerNormal-T_seeN {
  background-color: #158fd4 !important;
}

.body-3iLsc4,
.footer-1fjuF6 {
  background-color: #171b22 !important;
}

.quickMessage-1yeL4E {
  background-color: rgba(21, 143, 212, 0.1) !important;
}

.theme-dark.contextMenu-HLZMGh {
  background-color: #171b22 !important;
}

.theme-dark.contextMenu-HLZMGh .itemSubMenu-1vN_Yn {
  background-color: inherit !important;
}

.theme-dark.contextMenu-HLZMGh .itemGroup-1tL0uz {
  border-color: rgba(21, 143, 212, 0.05) !important;
}

.theme-dark.contextMenu-HLZMGh .bar-2Qqk5Z {
  background-color: #191e26 !important;
}

.theme-dark.contextMenu-HLZMGh .bar-2Qqk5Z .barFill-23-gu- {
  background-color: #158fd4 !important;
}

.search-results-wrap {
  background-color: #171b22 !important;
}

.search-results-wrap .search-header {
  background-color: inherit !important;
}

.search-results-wrap .channel-separator .channel-name {
  background-color: #171b22 !important;
}

.search-results-wrap .channel-separator:before {
  border-color: rgba(21, 143, 212, 0.2) !important;
}

.search-results-wrap .search-result:before, .search-results-wrap .search-result:after {
  background-image: linear-gradient(0deg, rgba(21, 143, 212, 0), #171b22) !important;
}

.search-results-wrap .search-result.expanded .search-result-message.hit {
  background-color: #191e26 !important;
  border-bottom: 2px solid #191e26 !important;
  border-top: 2px solid #191e26 !important;
}

.search-results-wrap .search-result .search-result-message.hit {
  border: 2px solid #191e26 !important;
}

.search-results-wrap .search-result .hit {
  background-color: #191e26 !important;
  box-shadow: 0 0 10px 6px #191e26 !important;
}

.search-results-wrap .action-buttons .jump-button {
  background-color: rgba(21, 143, 212, 0.8) !important;
}

.contextMenu-HLZMGh {
  background-color: rgba(23, 27, 34, 0.6) !important;
}

.itemGroup-1tL0uz {
  border-color: rgba(25, 30, 38, 0.2) !important;
}

.colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O) {
  background-color: #65a1e0 !important;
}

.theme-light .action-1lSjCi {
  background: rgba(23, 27, 34, 0.6) !important;
}

.header-3ZP1MY {
  color: #FFF !important;
}

.colorStandard-2KCXvj {
  color: #DCDDDE !important;
}

.sampleLink-KPFu3I {
  color: #65a1e0 !important;
}

.theme-dark .uploadModal-2ifh8j {
  background-color: #191e26 !important;
}

.theme-dark .footer-3mqk7D {
  background-color: #191e26 !important;
}

.anchor-3Z-8Bb {
  color: #65a1e0 !important;
}

.contentWrapper-2txmjs {
  background-color: #191e26 !important;
}

.theme-dark .categoryFadeBlurple-1j72_A, .theme-light .categoryFadeBlurple-1j72_A {
  background-color: rgba(101, 161, 224, 0.8) !important;
}

.toolbar-2bjZV7 {
  background-color: rgba(25, 30, 38, 0.4) !important;
}

.theme-dark .tooltipBrand-g03Nz8, .theme-light .tooltipBrand-g03Nz8 {
  background-color: rgba(21, 143, 212, 0.8) !important;
}

.introductionAction-M1r6AX {
  color: rgba(21, 143, 212, 0.8) !important;
}

.content-3O0wBS {
  background: rgba(25, 30, 38, 0.8) !important;
}

.content-3O0wBS .button-3zdF3z {
  color: rgba(25, 30, 38, 0.8) !important;
}

.theme-dark .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK, .theme-light .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK {
  border-top-color: rgba(21, 143, 212, 0.8) !important;
}

.contentRegionScroller-26nc1e {
  background-color: #171b22 !important;
}

.sidebarRegionScroller-3MXcoP {
  background: rgba(23, 27, 34, 0.8) !important;
}

.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g {
  border-color: rgba(25, 30, 38, 0.4) !important;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ {
  background-color: #158fd4 !important;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
  background-color: rgba(23, 27, 34, 0.8) !important;
  border-color: rgba(23, 27, 34, 0.4) !important;
}

.theme-dark .footer-3rDWdC {
  background-color: #191e26 !important;
}

.categoryPill-34fszg.selected-1dONk0 {
  background-color: rgba(101, 161, 224, 0.6) !important;
}

.searchPage-3GKAdT .search-1iTphC {
  background-color: rgba(23, 27, 34, 0.4) !important;
}

.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus, .searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus-within {
  border-color: rgba(101, 161, 224, 0.6) !important;
}

.css-1b86x2o-control {
  background-color: #171b22 !important;
}

.css-9wh895-control {
  background-color: rgba(23, 27, 34, 0.4) !important;
}

.css-123uooi-menu {
  background-color: #171b22 !important;
}

.verified-1eC5dy {
  color: #65a1e0 !important;
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol {
  color: #637ff3 !important;
}

.hljs-built_in, .hljs-deletion {
  color: #80bfed !important;
}

.hljs-addition, .hljs-keyword, .hljs-selector-tag {
  color: #0dbaff !important;
}

.hljs-attr, .hljs-attribute, .hljs-class .hljs-title, .hljs-template-variable, .hljs-type, .hljs-variable {
  color: #01dff0 !important;
}

.hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string, .hljs-number, .hljs-regexp, .hljs-string {
  color: #158fd4 !important;
}

.hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-title {
  color: #65a1e0 !important;
}

.codeBlockLang-O_f4hr {
  color: rgba(99, 127, 243, 0.7) !important;
}
